sudo: false
language: python
python:
- '3.5'
- '3.6'
- '3.7'
- 3.7-dev
- 3.8-dev
- nightly
- pypy3
install: pip install tox-travis
script: tox
deploy:
  provider: pypi
  skip_cleanup: true
  skip_existing: true
  user: __token__
  password:
    secure: iYTwpmfGYwYpWjxrq+ORONxgmuk3LKdxWNnjJJSdqVV5KhkhK/FpuSX+G+0dG2/c/dXt01k/xrJzAER9zrwhMq/bxYyT1mW896iZKWlHV1km8qgFkRc9N/27klg8ki4Z5k+u9vQFqa77VPlpsbMX2pvKf1nhftduyMub3BF8j5yGrLNNR5lzf2YeN6eFfpo6Nrrt60nHx8Ye/mIC9W9qaWsf42aw4IRZygYoxEk9GFlAgqbWHCxdkfe9rwXQkE6GUhz23au9TLN+Zqq2AoUG/nhIuoOjP8614RkqE51/yPye6lUddzg0JvzFL1hmJL0wauEK4Ih8f6k/6uTAExceXJRCvR8LVgHsrrVISjTnSszqm8oIh8FhaiLcDnRXtKgPXGdxo8JqCEOW4JZP0kVWN5ikNexbVlIwtoHEYVh3yLZCq4QP2dyRBsGuUxfVVhDGam+7h75J/ksOJhFJPwHm3crsQrRzQsO7BLsBHFm+X9G+VxloZE+lUgzk0Yb73KHXLhUTP6G2IglMLjQvrf17TtjoRBY4MfPZdLEWZ+gHFwunOEBXZLETT9f9Z8BvTF5ooDD8egqMtQn1ZnFYpuXabyX+bw7DQB7PJv7reHgpmYlMDvYX1m41AQBFLepaM9cd7m3ih8SVS6iXuzCeBHaMQ94t7D2PTxnT+v7s3FtOmNs=
  on:
    branch: master
